@font-face {
    font-family: Inter;
    src: url(fuentes/Inter-Regular.ttf);
}
#headerNav{
    background-color: #292033;
    
}
button{
    border-radius: 10px;
}
body{
    background-color: #6E5480;
}

#gameSquare{
   
    width: 80%;
    height: 40rem;
    background: #292033;
}
iframe{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    
}
hr{
    margin-left: 10%;
    background-color: red;
    
}
img{ height: 100px; width: 100px;}

#text{
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;

    color: aliceblue;
}
#vr{
    width: 1px;  
    background-color: red;
}
#galerySkin img{
    width: 474px;
}
#creatorSprites{
    
    align-items: center;
    margin-top: 20px;
    background-color: #292033;
    height: 90px;
    width: 300px;
    color: aliceblue;
    border-radius: 0px;
    margin-bottom: 2%;
    font-family: 'Inter';
    font-style: italic;
    font-size: xx-large;
    
   
}
