@font-face {
    font-family: Inter;
    src: url(fuentes/Inter-Regular.ttf);
}
body{
    background-image: url("assets/wallpaper.jpg");
    
    background-repeat: no-repeat;
}  
img{
    position: absolute;
    margin-bottom: 20px; 
    height: 50px;
    width: 100px;
}

h1{
    font-family: 'Inter';
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
}
#Rectangle6{
    margin: auto;
    width: 305px;
    height: 308px;
    background: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(9px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 35px;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    
    color: #FFFFFF;

}
input{
    background: rgba(217, 217, 217, 0.6);
    backdrop-filter: blur(7px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
    border-color: rgba(217, 217, 217, 0.6);
    width: 230px;
    height: 32px;

}
button{
    background: #F35054;
    mix-blend-mode: normal;
    border: 1px solid #F35054;
    width: 101px;
    height: 29px;
    border-radius: 30px;
    color: #FFFFFF;
   
}

@media only screen and (max-width: 500px) {
   
    html{
        background-color: #292033;
    }
    h1{
        position: absolute;
        margin-left: 25%;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #FFFFFF;

    }
 
    
    #Rectangle6{
        position: absolute;
        width: 305px;
        height: 308px;
        left: 29px;
        top: 131px;

        background: rgba(217, 217, 217, 0.5);
        backdrop-filter: blur(9px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 35px;
    }
  
    body{
        background-image: none;
        background-color: #292033;
    }

    img{
        background-color: #292033;
       width: 30px;
       height: 30px;
    }
   

    #Rectangle3{
        position: absolute;
        width: 30%;
        height: 50%;
        left: 78%;
        top: 105px;

        background: #6E5480;
        border-radius: 25px;

    }

    #Rectangle4{
        position: absolute;
        width: 126px;
        height: 346px;
        left: 203px;
        top: 257px;
        background: #6E5480;
        border-radius: 50px;
    }
    #Rectangle1{
   
        margin-top: 30px;
        position: absolute;
        width: 110%;
        height: 100%;
     
        top: calc(50% - 422px/2 + 219px);

        background: #6E5480;
        border-radius: 30px;

    }
    #textUser{
        margin-left: 10%;

    }
    
    #textPassword{
       margin-left: 10%;
    }
  
    
}